.wwid{width: 960px;margin: 0 auto;}
.bicon{background: url('/images/blog/blog_icon.png') no-repeat;display: block;width:20px; height:20px;}
.font-f{font-family: Microsoft YaHei,微软雅黑,"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",Tahoma,宋体,Simsun;}
.header{display: block;height: 107px;background:#f6f6f6;border-bottom: 1px solid #dadada;box-shadow: 0px 1px 3px rgba(0,0,0,.05);position: relative; z-index: 5;}
.header_cont{height: 107px;}
.hb_name{float: left;width:140px;text-align: center;margin-top: 20px;}
.hb_name .name{font-size:30px; line-height:30px; height:30px;padding:5px 0; display:block; color:#333; border-bottom:1px solid #dddddd;}
.hb_name .slogan{color:#666;display: block;height: 20px;padding:5px 0;line-height: 20px;border-top: 1px solid #fff;}

.hb_name .slogan b{padding: 0 9px;}
/*search bar of search area*/
.hd_search_warp{width:214px; height:28px; background: #d4d4d4; padding:3px;float: right;margin-top: 30px;}
.hd_search{width:212px; height:26px; border:1px solid #c0c0c0;background: #fff;}
.sear_btn{display: block;float:left;width: 26px; height:26px; border-left:1px solid #fff;overflow: hidden;text-indent: -99em;position: relative;}
.bicon_search{position: absolute;top: 3px;left:3px;background-position: 0 0;}
.hd_search_inp{float: left;margin: 0;padding:0;border:0;width:179px; padding:3px;height:20px;line-height: 20px;outline: none;}
/*main nav style*/
.main_nav{height: 40px; border-bottom:1px solid #dadada;background: #f8f8f8;box-shadow: 0 1px 3px rgba(0,0,0,.05);z-index: 4;position: relative;}
.mainMenu{float:left;overflow: hidden;height:36px;padding-top: 4px;}
.mainMenu .it{float: left;margin-right: 10px;}
.mainMenu .li{display: inline-block;height: 36px;line-height: 36px;color:#333;}
.mainMenu .li:hover{text-decoration: none;color: #336699;}
.mainMenu .txt{padding: 0 20px;font-size: 14px;}
/*main content*/
.main_content{margin-top:40px;}
.main_section{float: left;width:640px;}
.main_aside{width:280px;float: left;margin-left: 40px;background: #ccc;}
/*main ascroll images*/
.main_scrollImg{display: block;height: 200px;background: #f6f6f6;margin-bottom: 20px;}
.mainsi_img{height: 200px;width:300px;float: left;}
.mainsi_img .warp{display: block;width: 300px; height:200px;}
.mainsi_content{float: left;width:300px;height: 185px;padding: 15px 20px 0 20px;}
.mainsi_title{line-height: 24px;display: block;}
.mainsi_title .tit{font-size: 14px;font-weight: bold;}
.mainsi_artc{display: block;height: 130px;word-break: break-all;color:#333;}
.mainsi_artc p{line-height: 22px;}
.mainsi_artc .tail{color: #666;}
.mainsi_pagewarp{text-align: right;}
.mainsi_pagewarp .it{display: inline-block;width:10px; height:10px;background-position: -136px -5px; }
.mainsi_pagewarp .active{background-position: -121px -5px;}
/*marin article*/
.mart_bar{height: 30px;}
.mart_title{float: left;color: #219a44;height: 30px;line-height: 30px;font-size: 14px;}
.mart_it{padding: 15px 0;}
.mart_it .title{height: 22px;line-height: 22px;padding: 6px 0; border-bottom:1px solid #e2e2e2;}
.mart_it .li{font-size: 14px;font-weight: bold;color:#555555;text-shadow: 0 1px 0 #fff,0 1px 3px rgba(0,0,0,.5);}
.mart_info{overflow: hidden;zoom:1;margin-top: 5px;}
.mart_field{display: inline-block;height: 20px;line-height: 20px;color: #b2b2b2;margin-right: 10px;}
.mart_field .bicon{float: left;}
.bicon_article{background-position: -27px 0; }
.bicon_view{background-position: -59px 0;}
