		<div class="containor">
			<div class="main_content">
				<div class="main_content_inn clearfix wwid">
					<section class="main_section">
						<article class="main_scrollImg clearfix">
							<div class="mainsi_img">
								<a href="" class="warp">
									<img src="http://image.xinli001.com/20130806/145149c0c7a739588ff2f0.jpg!300x200" width="300" height="200" />
								</a>
							</div>
							<section class="mainsi_content">
								<h3 class="mainsi_title">
									<a href="" class="tit">除了爱情，还要有自己</a>
								</h3>
								<article class="mainsi_artc">
									<p>压力若不及时排除，越积越多的失落、郁闷、愤怒最终会像火山爆发一样喷薄而出。每天释放一点压力，生活会更加轻松。<span class="tail"> (2357人路过)</span></p>
								</article>
								<div  class="mainsi_pagewarp">
									<a href="" class="it bicon active" data-val=""></a>
									<a href="" class="it bicon" data-val=""></a>
									<a href="" class="it bicon" data-val=""></a>
									<a href="" class="it bicon" data-val=""></a>
									<a href="" class="it bicon" data-val=""></a>
									<a href="" class="it bicon" data-val=""></a>
								</div>
							</section>
						</article>
						
						<div class="m_artic_warp">
							<div class="mart_bar">
								<h2 class="mart_title">最新博文...</h2>
							</div>
							<div class="mart_article clearfix">
								<div class="mart_it">
									<h3 class="title">
										<a href="" class="li font-f">给项目写了个简单的打包工具。。</a>
									</h3>
									<div class="mart_info">
										<span class="mart_field fl">
											<em class="bicon bicon_article"></em>作者：admin</span>
										<span class="mart_field fl">发表时间：2012年6月22日</span>
										
										<span class="mart_field fr"><em class="bicon bicon_person"></em>245次阅读</span>
										<span class="mart_field fr"><em class="bicon bicon_view"></em>1条评论</span>
									</div>
									<article class="mart_art_cont mart_art1">
										<div class="mart_fimgwarp">
											<div class="mart_fimg">sdsdf</div>
										</div>
										<div class="mart_scont">
											<p>在想，家里如果以后能大修一次的话，一定要放布置一堵照片墙，哇塞，超好看~~~ (⊙o⊙)</p>
<p>说到照片就想到photo gallery，把照片放到网上，再用些小技术，呈现出不一样的精彩。O(∩_∩)O</p>
										</div>
									</article>
								</div>
								<div class="mart_it">
									<h3 class="title">
										<a href="" class="li font-f">给项目写了个简单的打包工具。。</a>
									</h3>
									<div class="mart_info">
										<span class="mart_field fl">
											<em class="bicon bicon_article"></em>作者：admin</span>
										<span class="mart_field fl">发表时间：2012年6月22日</span>
										
										<span class="mart_field fr"><em class="bicon bicon_person"></em>245次阅读</span>
										<span class="mart_field fr"><em class="bicon bicon_view"></em>1条评论</span>
									</div>
									<article class="mart_art_cont mart_art2">
										<div class="mart_fimgwarp">
											<div class="mart_fimg">sdsdf</div>
										</div>
										<div class="mart_scont">
											<p>在想，家里如果以后能大修一次的话，一定要放布置一堵照片墙，哇塞，超好看~~~ (⊙o⊙)</p>
<p>说到照片就想到photo gallery，把照片放到网上，再用些小技术，呈现出不一样的精彩。O(∩_∩)O</p>
<a href="">www.baidu.com</a>
										</div>
									</article>
								</div>
								<div class="mart_it">
									<h3 class="title">
										<a href="" class="li font-f">给项目写了个简单的打包工具。。</a>
									</h3>
									<div class="mart_info">
										<span class="mart_field fl">
											<em class="bicon bicon_article"></em>
											作者：admin
										</span>
										<span class="mart_field fl">发表时间：2012年6月22日</span>
										
										<span class="mart_field fr"><em class="bicon bicon_person"></em>245次阅读</span>
										<span class="mart_field fr"><em class="bicon bicon_view"></em>1条评论</span>
									</div>
									<article class="mart_art_cont mart_art2">
										<div class="mart_fimgwarp">
											<div class="mart_fimg">
												sdsdf
											</div>
										</div>
										<div class="mart_scont">
											<p>在想，家里如果以后能大修一次的话，一定要放布置一堵照片墙，哇塞，超好看~~~ (⊙o⊙)</p>
<p>说到照片就想到photo gallery，把照片放到网上，再用些小技术，呈现出不一样的精彩。O(∩_∩)O</p>
<a href="">www.baidu.com</a>
										</div>
									</article>
								</div>
								
							</div>
							<section class="pagewarp">
								<a href="" class="page_it">上一页</a>
								<a href="" class="page_it">1</a>
								<a href="" class="page_it">2</a>
								<a href="" class="page_it">3</a>
								<a href="" class="page_it">4</a>
								<a href="" class="page_it">5</a>
								<a href="" class="page_it">6</a>
								<a href="" class="page_it">7</a>
								<a href="" class="page_it">下一页</a>
								
							</section>
						</div>
					</section>
					<aside class="main_aside">
						<section class="masi_block">
							<div class="mart_bar">
								<h2 class="mart_title">最新博文...</h2>
							</div>
							<div class="cloudMark">
								adsfs
							</div>
						</section>
						
						<section class="masi_block">
							<div class="mart_bar">
								<h2 class="mart_title">更新文章...</h2>
							</div>
							<div class="masi_arilist">
								<ul class="marsi_ariul">
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												pngfix.js可能导致xss攻击IE中iframe和
											</a>
										</h4>
										<div class="status">
											<span class="count">23</span>
											<span class="clas">作业试验</span>
											<span class="wtime">13/8/18</span>
										</div>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												pngfix.js可能导致xss攻击IE中iframe和
											</a>
										</h4>
										<div class="status">
											<span class="count">23</span>
											<span class="clas">作业试验</span>
											<span class="wtime">13/8/18</span>
										</div>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												pngfix.js可能导致xss攻击IE中iframe和
											</a>
										</h4>
										<div class="status">
											<span class="count">23</span>
											<span class="clas">作业试验</span>
											<span class="wtime">13/8/18</span>
										</div>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												pngfix.js可能导致xss攻击IE中iframe和
											</a>
										</h4>
										<div class="status">
											<span class="count">23</span>
											<span class="clas">作业试验</span>
											<span class="wtime">13/8/18</span>
										</div>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												pngfix.js可能导致xss攻击IE中iframe和
											</a>
										</h4>
										<div class="status">
											<span class="count">23</span>
											<span class="clas">作业试验</span>
											<span class="wtime">13/8/18</span>
										</div>
									</li>
								</ul>
							</div>
						</section>
						<section class="masi_block">
							<div class="">
								<img src="http://image.xinli001.com/20130808/094217699c2088dab9e932.jpg" width="280" height="190" />
							</div>
						</section>
						<section class="masi_block">
							<div class="mart_bar">
								<h2 class="mart_title">近期评论...</h2>
							</div>
							<div class="masi_arilist">
								<ul class="marsi_ariul marsi_commul">
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												三清水
											</a>
											<span class="wtime">13/8/18</span>
										</h4>
										<div class="article">
											这个不错啊，一天就做出来了。高人就是厉害,嘿嘿，不错，继续努力
										</div>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												三清水
											</a>
											<span class="wtime">13/8/18</span>
										</h4>
										<div class="article">
											这个不错啊，一天就做出来了。高人就是厉害,嘿嘿，不错，继续努力
										</div>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												三清水
											</a>
											<span class="wtime">13/8/18</span>
										</h4>
										<div class="article">
											这个不错啊，一天就做出来了。高人就是厉害,嘿嘿，不错，继续努力
										</div>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												三清水
											</a>
											<span class="wtime">13/8/18</span>
										</h4>
										<div class="article">
											这个不错啊，一天就做出来了。高人就是厉害,嘿嘿，不错，继续努力
										</div>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												三清水
											</a>
											<span class="wtime">13/8/18</span>
										</h4>
										<div class="article">
											这个不错啊，一天就做出来了。高人就是厉害,嘿嘿，不错，继续努力
										</div>
									</li>
									
								</ul>
							</div>
						</section>
						<section class="masi_block">
							<div class="mart_bar">
								<h2 class="mart_title">友情连接...</h2>
							</div>
							
							<ul class="marsi_ariul marsi_conec">
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												三清水
											</a>
										</h4>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												mofei 的个人空间
											</a>
										</h4>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												lay的个人空间
											</a>
										</h4>
									</li>
									<li class="it">
										<h4 class="tit">
											<a href="" class="tit_li font-f">
												三清水
											</a>
										</h4>
									</li>
								</ul>
						</section>
					</aside>
				</div>
			</div>
		</div>