<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>new_file</title>
		<link href="/css/common/base.css" type="text/css" rel="stylesheet" />
		<link href="/css/index.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="containor">
			<header class="header">
				<div class="header_bar"></div>
				<div class="header_cont">
					<ul class="header_nav">
						<li class="it">
							<a href="/blog" class="link">HOME</a>
						</li>
						<li class="it">
							<a href="" class="link">blogShare</a>
						</li>
						<li class="it">
							<a href="" class="link">myLib</a>
						</li>
						<li class="it">
							<a href="" class="link">aboutAuther</a>
						</li>
					</ul>
				</div>
			</header>
			<div class="main_content">
adsfasdfasdf
			</div>

			<footer class="footer">
				<div class="nav-link">
					<ul class="ul">
						<li class="it">
							<a href="#" class="link git overLtxt">
								github
							</a>
						</li>
						<li class="it">
							<a href="#" class="link sina overLtxt">
								weibo
							</a>
						</li>
					</ul>
				</div>
				<div class="footer_info">
					<p class="info">Copyright © 2006-2013 lanrentuku.com All Rights Reserved. Powered by DedeCMS_V57_GBK_SP1</p>
				</div>
			</footer>
		</div>
	</body>
</html>
