
<header class="header">
	<div class="header_cont wwid">
		<div class="hb_name">
			<h1 class="name font-f"> 风的沙子 </h1>
			<span class="slogan"> <b>技术交流</b><b>分享思想</b> </span>
		</div>
		<div class="hd_search_warp">
			<div class="hd_search">
				<a href="" class="sear_btn"> 搜索 <span class="bicon bicon_search"></span> </a>
				<input type="text" name="searchKey" class="hd_search_inp" placeholder="请输入关键字" />
			</div>
		</div>
	</div>
</header>
<nav class="main_nav">
	<div class="mainnav_inn wwid">
		<ul class="mainMenu">
			<li class="it">
				<a href="" class="li"> <span class="font-f txt">HOME</span> </a>
			</li>
			<li class="it">
				<a href="" class="li"> <span class="font-f txt">前端技术</span> </a>
			</li>
			<li class="it">
				<a href="" class="li"> <span class="font-f txt">后端技术</span> </a>
			</li>
			<li class="it">
				<a href="" class="li"> <span class="font-f txt">myLib</span> </a>
			</li>
			<li class="it">
				<a href="" class="li"> <span class="font-f txt">about me</span> </a>
			</li>
		</ul>
	</div>
</nav>